.cardsTable {
    border: 1px solid #c1c1ac;
}

.tableHeader {
    color: white;
    background-color: #223ec7;
    background-size: cover;
}

.backgroundPhoto {
    padding: 8em 0 1em 0;
    background: url("../media/bw_background.png") no-repeat fixed center center;
    border-bottom: solid 0.25em #223ec7;
}

.cardHeaderContainer {
    border-bottom: solid 2px #223ec7;
}

.cardTitleContainer {
    color: #223ec7;
}

.tags {
    color: #196aff;
}

.highlighted {
    background-color: #fbff98;
}

.searchInput {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: #0f1352;
}

.citationColumn {
    border-right: 2px dashed #223ec7;
}

/*!* 567px width or smaller *!*/
@media all and (max-width: 567px) {
    .citationColumn {
        border-right: none;
        border-bottom: 1px dashed #3052c7;
    }
}

/*
 * RESPONSIVE BREAKPOINTS
 *  * iframe collapses at 699px.
 *    * @700: as-is
 *    * @699: change!
 */
/* 700px width or larger */
/*@media all and (min-width: 700px) {}*/

/*!* 699px width or smaller *!*/
/*@media all and (max-width: 699px) {}*/

/* 568px width or larger AND 699px or smaller */
/*@media all and (min-width: 568px) and (max-width: 699px) {}*/

/*!* 567px width or smaller *!*/
/*@media all and (max-width: 567px) {}*/
