.cardsList {
    min-height: 85%;
    min-height: 85vh;

    height: 85%;
    height: 85vh;
    overflow-y: auto;
}

.subjectCardContainer {
    /*position: relative;*/
    /*display: -webkit-flex; display: flex; display: -webkit-box;*/
    display: block;
}

.highlighted {
    /*background-color: #ffe446;*/
}
