.subjectCard {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*box-shadow: 0 -1px 3px rgba(0,0,0,0.25), -1px -1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24);*/
    display: -webkit-flex; display: flex; display: -webkit-box;
    flex-direction: column;
    margin: 1em 0.66em;
    padding: 0.66em;
    position: relative;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    height: auto;
    width: auto;
}

.subjectCard:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

/**
 * Card Header Section
 */
.cardHeaderContainer {
    margin-bottom: 0.66em;
    font-size: 1.25em;
    font-weight: 600;
    transition: all 0.1s ease;
}

.cardTitleContainer * {
    margin: 0;
    padding: 0;
}

.tags {
    font-size: 0.85em;
    padding-left: 0.66em;
    font-weight: 400;
    min-height: 1.333em;
    height: 1.5em;
    max-height: 2em;
}
.tags * {
    margin: 0.15em 0;
}


/**
 * Lists
 */
.listsContainer {
    display: -webkit-flex; display: flex; display: -webkit-box;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    flex-basis: 50%;
    margin: 0;
    width: 100%;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
}

.citationColumn,
.lawColumn {
    width: 50%;
}

.citationColumn {
    padding-right: 1em;
}

.lawColumn {
    padding-left: 1em;
}

/*
 * RESPONSIVE BREAKPOINTS
 */
/*!* 699px width or smaller *!*/
/*@media all and (max-width: 699px) {}*/

/* 568px width or larger AND 699px or smaller */
/*@media all and (min-width: 568px) and (max-width: 699px) {}*/

/*!* 567px width or smaller *!*/
@media all and (max-width: 567px) {
    .listsContainer {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        flex-basis: 100%;
        -moz-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
    }
    .citationColumn,
    .lawColumn {
        width: 100%;
        padding: 0;
    }
    .citationColumn {
        margin-bottom: 1.5em;
    }
}
